@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tito Web App</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">GitHub e integración continua</a>.</p>
</div>
